body {
    background: grey;
    font-family: Calibri, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#moveButton {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 36px;
    font-weight: bold;
    transition: all 0.3s;
}

#message {
    font-size: 72px;
    font-weight: bold;
    margin-top: 20px;
}

.wiggle-animation {
    animation: wiggle 0.5s ease-in-out infinite;
}

@keyframes wiggle {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-3px) rotate(-2deg);
    }
    75% {
        transform: translateX(3px) rotate(2deg);
    }
}
