body {
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#moveButton {
    background-color: lightblue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 9999; /* Add this line to ensure the button is on top */
}

#message {
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
    font-weight: 800;
    display: inline-flex;
    align-items: center;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}
