body {
    background-color: grey;
}

#moveButton {
    background-color: lightblue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    /* Initial position */
    left: 0;
    top: 0;
}

#message {
    font-family: "Calibri", sans-serif; /* Set the font-family to Calibri */
    font-size: 4rem; /* Adjust the font size */
    font-weight: bold; /* Set font weight to bold */
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a text shadow for the outline effect */
}
